
/* START - GRID */
#grid {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.8fr 1.5fr 1.5fr 1.5fr 1fr;
    grid-auto-rows: minmax(300px, auto);
    grid-template-areas:
        "header header header header"
        "banner1 banner1 text-zone1 text-zone1"
        "central central central central"
        "text-zone2 text-zone2 banner2 banner2"
        "footer footer footer footer";
}

/* END - GRID */

/* START - POSITIONNING GRID CELL */
header {
    grid-area: header;
}

.banner1 {
    grid-area: banner1;
}

.text-zone1 {
    grid-area: text-zone1;
    
}

.central {
    grid-area: central;
    
}

.text-zone2 {
    grid-area: text-zone2;
    
}
.banner2 {
    grid-area: banner2;
}

footer {
    grid-area: footer;
}

/* END - POSITIONNING GRID CELL */

/* START - CREATION DU MODELE EVENEMENT */

.event-title {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(45, 42, 42, 0.5);
    border-radius: 50px;
    transition: 0.5s ease-in-out;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
}

.event-title:hover {
    background-color: dodgerblue;
    color: white;
}

.event-detail {
    width: 250px;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0, 0.5);
    border-radius: 50px;
    gap: 10px;
}

/* END - CREATION DU MODELE EVENEMENT */

/* START - BANNER 1 STYLING */
    .banner1{
        height: auto;
        width: 100%;
        padding: 20px;
        background-color: rgb(230, 156, 66);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    /* START - IMAGE 1 STYLING */

    .text-zone1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px;
        background-color: #f2a27efb;
    }
    .text1 {
        font-size: var(--paragraph-font-size);
        text-align: justify;
        padding: 20px;
    }

    /* END - IMAGE 1 STYLING */

/* END - BANNER 1 STYLING */

/* START - BANNER 2  */
    .banner2{
        height: 600px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 40px;
        background-color: rgb(230, 156, 66);
    }
    .text-zone2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px;
        background-color: #f2a27efb;
    }
/* END - BANNER 2 */

/* START - CENTRAL */
    .central {
        height: 700px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 40px;
        background-color: #EBCFB2;
    }
    
/* END - CENTRAL */

/* START - RESPONSIVE BODY INDEX 2 HTML */

/* END - RESPONSIVE BODY INDEX 2 HTML */